/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */

body {
  font-family: "Roboto", sans-serif;
  color: #e5e5e5;
}

body section {
  background-color: #312b39;
  color: #e5e5e5;
  padding: 10px;
}

body section:nth-child(2n) {
  background-color: #252422;
}

h1 {
  color: #fffcf2;
}

p {
  color: #ccc5b9;
}

nav {
  /* border-radius: 16px; */
  padding: 0.5rem;
  background-color: #222222;
}

@media (max-width: 576px) {
  .sidebar {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
  }
}

nav .links .nav-link {
  color: #F3F3F3;
  text-shadow: 1px 1px black;
  padding: 4px 8px;
}

ul.row {
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

nav .navbar-brand {
  content: "🌎";
}

/* Hero Section */
#hero-section {
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4)), url(img/tagged_trainstation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-shadow: black 0px 0px 10px;
  align-content: center;
}

#hero-section img {
  margin-top: 10px;
  object-fit: cover;
  width: 30%;
  max-width: 190px;
  min-width: 140px;
  border-radius: 100%;
  box-shadow: #000000 0px 6px 10px;
}

#hero-section p {
  margin-bottom: -6px;
  color: white;
  text-shadow: #000000 2px 0px;
  fill: black;
  backdrop-filter: blur(1px);
}

/* Mission Section */
#mission-section p{
  text-align: left;
}

#mission-section img{
  width: 100%;
  border-radius: 2px;
  box-shadow: 0px 2px 6px #222222;
}

/* Skills Section */
#skills-section img {
  width: 100px;
  height: 100px;
}

#skills-section p {
  padding: 12px;
}

/* Contact Section */
#contact-section i {
  color: #8c8c8c;
  font-size: 60px;
  transition: 0.2s;
}

#contact-section i:hover {
  color: #ffffff;
  transition: 0.2s;
}

#inspiration-section .carousel-item img{
  height: 600px;
  width: 100%;
  object-fit: cover;
}

#inspiration-section .carousel-caption {
  background-color: black;
}

/* Footer Section */
#footer-section {
  padding: 1rem 0 0 0;
  position: static;
  height: 60px;
  width: 100%;
  bottom: 0;
  right: 0;
}